* {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.25em;
    margin-bottom: 0.75em;
    font-family: "Fugaz One", serif;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

ul.posts {
    padding-left: 0;
}

ul.posts li {
    display: block;
}

.post-title a {
    font-size: 125%;
}

pre, code, tt {
    font-family: "Ubunto Mono", monospace;
}

