<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/code.css">
    <link href="http://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container" style="max-width: 1400px; margin: 0 auto;">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <h2>Schedule</h2>
          <ul class="posts">
              <li>
                  Day 1 (July 6)
                  <ul>
                      <li>9-10am: Zoom
                          <ul>
                              <li>Schedule, cybersecurity terms and news</li>
                          </ul>
                      </li>
                      <li>10-11am: Self-study
                          <ul>
                              <li>Connect to personal Linux server, review Python videos</li>
                          </ul>
                      </li>
                      <li>11am-12pm: Zoom
                          <ul>
                              <li>Python input/output, if/else</li>
                          </ul>
                      </li>
                      <li>12-3pm: Self-study
                          <ul>
                              <li>Python challenges</li>
                          </ul>
                      </li>
                      <li>3-4pm: Zoom
                          <ul>
                              <li>Review Python challenges</li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li>
                  Day 2 (July 7)
                  <ul>
                      <li>9-10am: Zoom
                          <ul>
                              <li>Internet fundamentals, TCP/IP, routing</li>
                              <li>Sockets in Python</li>
                          </ul>
                      </li>
                      <li>10-11am: Self-study
                          <ul>
                              <li>Python challenges</li>
                          </ul>
                      </li>
                      <li>11am-12pm: Zoom
                          <ul>
                              <li>Review Python challenges</li>
                              <li>Python lists and loops</li>
                          </ul>
                      </li>
                      <li>12-3pm: Self-study
                          <ul>
                              <li>Python challenge: chat client and server</li>
                          </ul>
                      </li>
                      <li>3-4pm: Zoom
                          <ul>
                              <li>Review Python challenges</li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li>
                  Day 3 (July 8)
                  <ul>
                      <li>9-10am: Zoom
                          <ul>
                              <li>Domain name system (DNS), WHOIS</li>
                              <li>Python dictionaries</li>
                          </ul>
                      </li>
                      <li>10-11am: Self-study
                          <ul>
                              <li>Python challenges</li>
                          </ul>
                      </li>
                      <li>11am-12pm: Zoom
                          <ul>
                              <li>Encryption (symmetric, asymmetric)</li>
                              <li>Encryption in Python</li>
                          </ul>
                      </li>
                      <li>12-3pm: Self-study
                          <ul>
                              <li>Python challenges: encrypted communication</li>
                              <li>GPG challenges</li>
                          </ul>
                      </li>
                      <li>3-4pm: Zoom
                          <ul>
                              <li>Review Python and GPG challenges</li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li>
                  Day 4 (July 9)
                  <ul>
                      <li>9-10am: Zoom
                          <ul>
                              <li>Red team operations: scanning, fuzzing</li>
                          </ul>
                      </li>
                      <li>10-11am: Self-study
                          <ul>
                              <li>Red team challenges</li>
                          </ul>
                      </li>
                      <li>11am-12pm: Zoom
                          <ul>
                              <li>Password cracking</li>
                          </ul>
                      </li>
                      <li>12-3pm: Self-study
                          <ul>
                              <li>Password cracking challenges</li>
                          </ul>
                      </li>
                      <li>3-4pm: Zoom
                          <ul>
                              <li>Review red team and password cracking challenges</li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li>
                  Day 5 (July 10)
                  <ul>
                      <li>9-10am: Zoom
                          <ul>
                              <li>Proxies and Tor</li>
                          </ul>
                      </li>
                      <li>10-11am: Self-study
                          <ul>
                              <li>TBD</li>
                          </ul>
                      </li>
                      <li>11am-12pm: Zoom
                          <ul>
                              <li>HTTPS and TLS</li>
                          </ul>
                      </li>
                      <li>12-3pm: Self-study
                          <ul>
                              <li>TBD</li>
                          </ul>
                      </li>
                      <li>3-4pm: Zoom
                          <ul>
                              <li>Wrap-up and review</li>
                          </ul>
                      </li>
                  </ul>
              </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <h2>Videos</h2>
          <ul class="posts">
            <li>
              <div class="post-title"><a href="https://www.youtube.com/playlist?list=PLJ5VEMJsOeg9d1PQdI3AMoJV9BN-QmmmW">YouTube Playlist</a></div>
            </li>
          </ul>
          <h2>Daily Notes</h2>
          <ul class="posts">
            <li>
              <div class="post-title"><a href="/daily-notes/day-1.html">Day 1 Notes</a></div>
            </li>
            {% comment %}
            <li>
              <div class="post-title"><a href="/daily-notes/day-2.html">Day 2 Notes</a></div>
            </li>
            <li>
              <div class="post-title"><a href="/daily-notes/day-3.html">Day 3 Notes</a></div>
            </li>
            <li>
              <div class="post-title"><a href="/daily-notes/day-4.html">Day 4 Notes</a></div>
            </li>
            <li>
              <div class="post-title"><a href="/daily-notes/day-5.html">Day 5 Notes</a></div>
            </li>
            {% endcomment %}
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="row">
            <div class="card">
              <div class="section">
                <h1>Cybersecurity Camp</h1>
                <h3>July 6-10<br/>Stetson University</h3>
                <p>
                  <a href="http://www2.stetson.edu/~jeckroth/" target="_blank">Dr. Joshua Eckroth</a><br/>
                  <a href="mailto:jeckroth@stetson.edu">jeckroth@stetson.edu</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p class="license">
            <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Cybersecurity Camp material</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cscamp.artifice.cc" property="cc:attributionName" rel="cc:attributionURL">Joshua Eckroth</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Source code for this website available at <a href="https://github.com/joshuaeckroth/cscamp-website/tree/master">GitHub</a>.
          </p>
        </div>
      </div>
    </div>
  </body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23971505-15', 'auto');
  ga('send', 'pageview');

</script>

